html {
    background-color: #303446;
    color: #c6d0f5;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    display: grid;
    place-items: center;
}

header {
    margin: 2rem;
}

#name {
    color: #a6d189;
}

#horde {
    color: #e78284;
}

#ascii {
    line-height: normal;
}
